.headernav{
    padding-top: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #FFFAEE; 
    color: #003195; 
}

.headernav a{
    text-decoration: none;
}

.headernav h1{
    text-align: left;
    margin-left: 100px;
    font-weight: 900;
    font-size: 25px;
}